<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Poker</title>
	<link rel="shortcut icon" href="/favicon.png" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!--<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">-->
	<!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">-->
	<!--<link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.core.css">-->
	<!-- build:css(.tmp) styles/main.css -->
	<!--<link rel="stylesheet" href="styles/main.css">-->
	<link rel="stylesheet" href="stylesheets/style.css">
	<!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--<div id='loader'>-->
<!--<img src='img/loader.gif' />-->
<!--</div>-->
<div id='angular-app'>
	<!--<ul class="caw-mega-menu hidden" tabindex="1"></ul>-->
	<!--<div class="caw-masthead"></div>-->
	<!--<div class="caw-main-content"></div>-->
	<!--<div id="caw-splash" class="caw-splash-container">-->
		<!--<div class="caw-splash-header">-->
			<!--<div class="caw-splash-header-box">Code<span class="caw-powered-by">Powered by Eclipse Orion</span></div>-->
		<!--</div>-->
		<!--<div class="caw-splash-content">-->
			<!--<div class="caw-splash-loading"><span></span><span></span><span></span></div>-->
			<!--<div class="caw-splash-main">Loading your environment.</div>-->
			<!--You'll be able to code in just a moment...-->
		<!--</div>-->
	<!--</div>-->
	Hello
</div>
<!--<script src="bower_components/jquery/jquery.js"></script>-->
<!--<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>-->
<!--&lt;!&ndash;<script src="bower_components/requirejs/require.js"></script>&ndash;&gt;-->
<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->


<!--&lt;!&ndash; build:js scripts/modules.js &ndash;&gt;-->
<!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
<!--<script src="bower_components/angular-cookies/angular-cookies.js"></script>-->
<!--<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
<!--<script src="bower_components/angular-route/angular-route.js"></script>-->

<!--<script src="bower_components/lodash/lodash.js"></script>-->

<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script data-main="javascripts/main.js" src="bower_components/requirejs/require.js"></script>
<!--<script src="scripts/app.js"></script>-->
<!--<script src="scripts/controllers/main.js"></script>-->
<!--<script src="scripts/controllers/tabs.js"></script>-->
<!-- endbuild -->
</body>
</html>
